/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Righteous&family=Zen+Maru+Gothic&display=swap');

/* Righteous - fancy text
   Mulish - text
   Zen Maru Gothic - japanese
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F3EDE1;
}

header{
    padding: 10px 50px 5px 65px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    font-family: Mulish;
    color: #746c9c;
    margin-right: 15px;
    display: flex;
    gap: 85px;
}

.navi_item{
	text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    transition: 0.3s color;
}

.navi_item:hover .navi_item_underline {
    transition: 0.6s text-decoration-color;
	text-decoration: underline;
    text-decoration-color: #746c9c;
    -webkit-text-decoration-color: #746c9c;
    -moz-text-decoration-color: #746c9c;
    text-decoration-thickness: 4px;
}

#navi_item_underline_active {
	text-decoration: underline;
    text-decoration-color: #746c9c;
    -webkit-text-decoration-color: #746c9c;
    -moz-text-decoration-color: #746c9c;
    text-decoration-thickness: 4px;
}

.navi_item:hover, .active{
    color: #ffc2bc;
}

main{
    margin: auto 0;
    margin-top: 0px;
    padding: 0px 65px 0px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_text{
    font-family: Mulish;
    color: #746c9c;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main_text_title{
    padding-bottom: 10px;
}

.main_text_1{
    font-family: Zen Maru Gothic;
    font-size: 45px;
}

.main_text_1, .main_text_2{
    color: #ffc2bc    
}

.main_text_subtitle{
    font-family: Righteous;
    font-size: 38px;
    padding-right: 250px;
}

.main_text_subtitle strong{
    color: #ffc2bc;
}

.main_text_paragraph{
    max-width: 740px;
    text-align: justify;
    font-size: 14px;
    padding-right: 250px;
    padding-bottom: 10px;
}

button{
    width: 125px;
    height: 30px;
    background-color: #ffc2bc;
    border: none;
    font-family: Mulish;
    color: #F3EDE1;
    box-shadow: -5px 5px 0px #F3EDE1, -5px 5px 0px 1px #746c9c;
    margin-left: 7px;
}

button:hover{
    background-color: #ef8d86;
}

button:active{
    background-color: #ef8d86;
    box-shadow: -5px 5px 0px #F3EDE1, -5px 5px 0px 1px #746c9c, inset -2px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

footer{
    margin: 45px 65px 35px 65px;
}

.footer_text{
    font-family: Mulish;
    color: #746c9c;
    position: relative;
    overflow: hidden;
    display: block;
}

.footer_text::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
    border-top: 1px solid #746C9C;
}